/*inicio*/
.logo-junta-pe{
  width: 237px;
  height: 104px;
  object-fit: contain;
  margin: 55px 0 0 45px;
}
.intro-junta{
  width: 250px;
  height: 95px;
  margin: 95px 30px 100px 40px;
}
.intro-junta h3{
  color: #ffffff;
}
.intro-junta h2{
  color: #FFB301;
  font-weight: bold;
}
.nube-footer{
  background-image: url(../img/nube-fondo@2x.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 200px;
  width: 375px;
  position: relative;
  left: -15px;
}
.ingresar{
  position: relative;
  top: 115px;
  left: 27px;
  color: #ffffff;
}